<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    
    <link href="{{url_for('static', filename='global.css')}}" rel="stylesheet">

  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
