{% extends "global.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Make standalone recordings into small fluffy animals<br/>
            <small>MB-STYLE 255</small></h2>
        </div>
        <div class="col-md-2 text-right">
            <small>3 days, 22 hours remaining</small><br/>
            <small>ijabz</small></br>
            <span class="label label-success">+42</span><span class="label label-danger">-10</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">            
            <pre>
Proposal goes here
x
x
x
x
x
x
x
x
x
x
x
x
x
x
x
x
x
x
            </pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <button type="button" class="btn btn-primary btn-lg btn-block">Comment / Vote</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">                      
            <h3>Comments</h3>
            <ul class="list-group">
                <li class="list-group-item"><p><b>jesus2099</b><span class="label label-danger pull-right">-1</span></p><p>I SAY: «THIS SUCKS!!!!!»</p></li>
                <li class="list-group-item"><p><b>reosarevok</b><span class="label label-success pull-right">+1</span></p><p>...</p></li>
                <li class="list-group-item"><p><b>nikki</b><span class="label label-success pull-right">+1</span></p><p>...</p></li>
                <li class="list-group-item"><p><b>Freso</b><span class="label label-success pull-right">+1</span></p><p>...</p></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
